.wrapper {
    padding-top: 24px;
    padding-bottom: 65px;
}

.row {
    margin: 0 -8px;
}

.row>* {
    padding-left: 8px;
    padding-right: 8px;
}

.product-image {
    height: 210px;
}

.product-title {
    top: 0;
    left: 0;
    right: 0;
    bottom: 35px;
    padding: 10px 10px;
    z-index: 9;
}

.product-title h2 {
    font-size: 20px;
}

.product-title h6 {
    color: #6c757d;
}

.product-title h5 {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: .75rem;
    border-radius: 5px 0 0 0 !important;
}

.product-img-gradiant {
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    bottom: 35px;
}

.product-img-gradiant .img-full-height {
    height: 100% !important;
    width: auto !important;
}

.product-img-gradiant .img-full-width {
    height: auto !important;
    width: 100% !important;
}

.product-img-gradiant:before {
    position: absolute;
    bottom: 0;
    top: 50%;
    content: "";
    display: block;
    left: 0;
    right: 0;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000', GradientType=0);
    /* IE6-9 */
    z-index: 8;
    opacity: 0.7;
}

.btn-success {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-success:hover {
    background-color: #0f8da0;
    border-color: #0f8da0;
}

.btn:hover .text-muted {
    color: #FFFFFF !important;
}

.font-11 {
    font-size: 11px;
}

.history-btn-number {
    right: 0;
    top: 0;
    font-size: 10px;
    padding: 0 5px 2px;
    border-radius: 0 0 0 5px;
    line-height: 100%;
}

.history-btn-weight {
    left: 0;
    top: 0;
    font-size: 10px;
    padding: 0 5px 2px;
    border-radius: 0 0 5px 0;
    line-height: 100%;
}

.camera-btn {
    margin-bottom: 2px;
}

a {
    cursor: pointer;
}

.delete-card {
    color: red;
    z-index: 1000;
    right: 10px;
}

.delete-card:hover {
    color: rgb(214, 7, 7);
    z-index: 1000;
    right: 10px;
}

.lowest-price {
    background-color: green;
}
.form-row{
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
}
.form-row + .form-row {
    margin-top: 20px;
}
.form-col{
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 5px;
}
.form-col input{
    max-width: 202px;
}
.form-col .button-group{
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
#buy_meal_form .btn{
    margin-left: 5px;
    min-width: 40px;
}
#buy_meal_form .btn img{
    margin-top: -5px;
}
.form-col p{
    display: none;
}
.form-col.has-error p{
    display: block;
    color: red;
    margin: 0;
    font-size: 12px;
    padding: 5px 4px 0;
}
.form-row .select-shop{
    margin-left: 10px;
    min-width: 390px
;
}
@media (max-width: 767px) and (min-width: 320px) {
    .form-row{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .form-col{
        width: 100%;
        margin-bottom: 15px;
    }
    .form-col input {
        max-width: 100%;
    }
    .form-row .select-shop{
        margin-left: 0;
        min-width: unset;
    }
}

@media (min-width: 1200px) {
    .row-cols-5>* {
        width: 20%;
    }
}

@media (max-width: 1399px) {
    .product-image {
        height: 174px;
    }
}

@media (max-width: 1199px) {
    .product-image {
        height: 186px;
    }
}

@media (max-width: 991px) {
    .product-image {
        height: 185px;
    }
}

@media (max-width: 767px) {
    .product-image {
        height: 214px;
    }
}

@media (max-width: 575px) {
    .product-image {
        height: calc(100vw / 2 - 56px);
    }
}


/*Safari Support Styling*/
.bg-dark{
    background-color: #212529;
}
.d-flex{
    display:-webkit-flex;
    display:-webkit-box;
    display:-moz-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    flex-direction:row;
}
.row{
    display:-webkit-flex;
    display:-webkit-box;
    display:-moz-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    flex-direction:row;
}
.navbar-expand-sm .navbar-collapse {
    display: -webkit-box !important;
    flex-basis: auto;
    -webkit-flex:1;
    -webkit-box-flex:1;
}
.navbar-nav {
    display: -webkit-box !important;
    flex-basis: auto;
}
.navbar > .container, .navbar > .container-fluid, .navbar > .container-sm, .navbar > .container-md, .navbar > .container-lg, .navbar > .container-xl, .navbar > .container-xxl{
    display: -webkit-box !important;
}

/*End*/